@import url(../../node_modules/@fortawesome/fontawesome-free-webfonts/css/fontawesome.css);
@import url(../../node_modules/@fortawesome/fontawesome-free-webfonts/css/fa-solid.css);
@import url(../../node_modules/@fortawesome/fontawesome-free-webfonts/css/fa-brands.css);
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

* {
  box-sizing: border-box; }

.scrollTop {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 44px;
  height: 44px;
  text-decoration: none;
  padding: 0;
  color: white;
  background: red;
  border: none;
  border-radius: 100%;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
  -webkit-transform: translate(0, 80px);
  -webkit-transform: translate3d(0, 80px, 0);
  -ms-transform: translate(0, 80px);
  -ms-transform: translate3d(0, 80px, 0);
  transform: translate(0, 80px);
  transform: translate3d(0, 80px, 0);
  transition: transform 0.2s ease-in;
  opacity: 0.7; }
  .scrollTop:hover {
    color: white;
    opacity: 1; }
  .scrollTop.show-button {
    -webkit-transform: translate(0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate(0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate(0, 0);
    transform: translate3d(0, 0, 0); }
