#info-flex {
  min-width: 250px;
  padding: 5px 0;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid black;
  border-left: none;
  border-right: none; }
  #info-flex span,
  #info-flex a {
    color: black;
    text-decoration: none;
    padding: 2px 0; }
