#resume-footer {
  padding-top: 10px;
}

.summary-position {
  flex-grow: 1;
}

.summary-experience {
  align-self: center;
  h3 {
    margin: 0px;
  }
}

.summary-header.content {
  margin-bottom: 10px;
}